html{
  font-size: 12px;
  background: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

%common-flex-col{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-area{
  @extend %common-flex-col;
  width: 100vw;
  height: 3.667rem;
  position: fixed;
  background: white;
  padding: 0 1.333rem;
  top: 0;

  .header-area-back{
    height: 100%;
    //width: 6.667rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
  }
}


.page-content{
  background: white;
  padding: 0 1.333rem;
}

.page-footer{
  height: 4.083rem;
  position: fixed;
  width: 100vw;
  padding: 0.333rem 1.333rem;
  display: flex;
  bottom: 0;
  justify-content: space-between;
  background: white;
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.067);

  .one1,.two1,.three1{
    .footer-icon{
      position: relative;
      top: 0.833rem;
      font-size: 2.167rem;
    }
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

