.first-page{
  //padding-bottom: 6rem;
  .header-area{
    display: flex;
    align-items: center;
    .logo{
      width: .55rem;
      height: .22rem;
    }

    .head-right{
      margin-left: auto;
      display: flex;
      align-items: center;
    }
  }

  .bannerImg{
    height: 1.7rem;
    background: linear-gradient(#F08B7D, #ED6450);
    border-radius: 0.1rem;
    padding: .17rem .16rem .2rem .16rem;

    .bannerTitle{
      display: flex;
      align-items: center;
      flex-direction:row;
      color: white;

      .user-icon{
        width: .4rem;
        height: .4rem;
        border-radius: .675rem;
      }

      .user-name{
        flex-basis: 2rem;
        height: .2rem;
        font-size: .14rem;
        margin-left: .1rem;
        font-weight: 400;
      }

      .user-status{
        flex-basis: 60vw;
        text-align: right;
        color: #CCCCCC;
        font-size: .12rem;
        font-family: PingFangSC, monospace;
      }
    }

    .bannerLevel{
      width: 2.17rem;
      height: .3rem;
      line-height: .3rem;
      margin: .17rem 0 0.29rem 0;
      color: white;
      font-size: .18rem;
      font-family: PingFangSC, serif;
      font-weight: 700;
    }
    .bannerShare{
      height: .17rem;
      line-height: .17rem;
      color: white;
      font-size: .12rem;
    }

  }

  .thread{
    background: #FAFAFA;
    height: .08rem;
    margin: 0 -0.16rem;
  }

  .repayCredit{
    width: 88vw;
    height: .36rem;
    line-height: .38rem;
    background: #EB5E48;
    border-radius: .19rem;


    margin: .23rem auto .18rem;
    text-align: center;
    font-size: .18rem;
    color:white;
    font-weight: 700;
  }

  .content-footer{
    .content-footer-title{
      margin: .12rem 0 0.17rem;
      font-size: .15rem;
      color: #333333;
      font-weight: 600;
    }

    .nav-items{
      .footer-item{
        width: 43vw;
        display: flex;
        float:left;
        align-items: center;

        .item-img{
          width: .33rem;
          height: .24rem;
        }

        .footer-item-text{
          display: flex;
          flex-direction: column;
          overflow:hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
          margin-left: .1rem;

          .text-nav-title{
            width: .56rem;
            height: .2rem;
            font-size: .125rem;
            color: #333333;
          }
          .text-nav-tips{
            width: 1.08rem;
            height: .17rem;
            font-size: .1rem;
            overflow: auto;
            color: #666666;
          }

        }
      }

      .footer-item:nth-child(2), .footer-item:nth-child(4){
        margin-left: 0.1rem;
      }
    }



  }

  .slider-frame{
    border-radius: 1rem;
  }
}



.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 35vh;
  background: white;
}

.banner{
  background: white;
  background-size: 100% 88%;
  background-position: top;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo .app-name .head-right{
  flex: 1;
}
.kefuDiv{

  height:33px;
  width: 70px;
  padding-right: 0.833rem;
  margin: 6px auto;
}

.kefuDiv span{
  text-align: center;
  line-height: 2.5rem;
  height: 2.5rem;
  font-size: 15px;
  color:#000000;
  font-weight: 700;
}
.firstMsg{
  margin: 15px 0;
  line-height: 32px;
  width: 93vw;
  background: #F6F6F6;
  height: 32px;
  border-radius: 1.167rem;
  text-align: center;
}
.select{
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.833rem;
}
.select p {
  margin-bottom: 0px
}
.one,.two,.three{
  width: 33.33%;
  border-right: 0.083rem solid #00000012;
  text-align: center;
  color: black;
  background-color: white;
  height: 17vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productHome{
  width: 100vw;
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  height: 340px;
}
.hotProduct{
  width: 12.5rem;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hotProduct img{
  width: 1.167rem;
}
.hotProduct p{
  color: #e6bd76;
  font-size: 1.333rem;
}
.prodcutList{
  border-bottom: 0.083rem solid #00000012;
  height: 10.833rem;
  width: 85vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}
.dalibao{
  width: 73px;
}

.dalibaoBg{
  width: 73px;
  height: 73px;
  margin-left: -0.833rem;
  padding: 0.833rem;
  background: #F6F6F6;
}



.one1,.two1,.three1{
  width: 33.33%;
  height: 64px;
  /* border-right:0.083rem solid #00000012; */
  box-sizing: border-box;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product{
  font-size: 14px;
  margin-left: 15px;
}
.prodcutListRight{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.dianjigoumai{
  border: 1.5px solid #FF9393;
  border-radius: 1.167rem;
  color : #FF9393;
  height: 2.5rem;
  line-height: 2.5rem;
  width: 24%;
  text-align: center;
  width: 100px
}

.goodlijilinqu{
  text-align: center;
  background: url(../../assets/登录页/按钮.png) no-repeat center;
  background-size: 70% 75%;
  color: white;
  font-size: 1.333rem;
  line-height: 47px;
  margin-top: 0.833rem;
}

.custServiceHead{
  background: url(../../assets/客服/框.png)no-repeat center;
  background-size: 100% 100%;
  height: 65px;
}

.vipDetailsBackground{
  width: 82%;
  height: 28px;
  background-color: #169bd5f5;
  border-radius: 1.167rem;
  text-align: center;
  margin-left: 10%;
  line-height: 26px;
  color: white;
}

.moneyKey .am-list-item.am-input-item{
  width: 45px;
  border: none;
  padding-left: 0px;
}
.moneyKey .am-list-item .am-list-line {
  padding-right: 0px
}
.moneyKey .am-list-item.am-input-item input{
  font-size: 34px;
  color: black;
  font-weight: 500;
  text-align: center
}











