//每日晋升页面
.my-daily-promotion{
  width: 100vw;
  background: #EDDACA;
  background-size: 100% 100%;
  top: 0;
  bottom: 5rem;

  .bannerImgin{
    margin-top: 3.667rem;
    background: url('../../assets/img/vip/HY_Kp@3x.png') no-repeat center;
    background-size: 100% 100%;
    width: 100%;
    //height: 24.5vh;
    padding: 0 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
  }
  .banner-item-name{
    color: #D0AD85
  }

  table {
    border-collapse:collapse;
  }
  table, td, th {
    border:0.083rem solid #EDDACA;
    padding: 0.833rem;
    width: 83vw;
    text-align: center;
  }
  .table-header{
    background: #FBE4C8;
  }
}
